/*
Author: Iain Watson
    Page about dogs
*/

*{
  color: rgb(209, 92, 92);
  font-family: Arial, Helvetica, sans-serif;
}

html,body{
  height:100%;
  margin:0px;
  background-color: lightyellow;
}
h1 {
  font-size: 3cm;
  text-align: center;
  margin: 0;
  padding: 0.5cm;
  color: lightgoldenrodyellow;
}
p {
  padding: 1cm;
  font-size: 1cm;
}
.bg{
  background-image: url(picture1.jpg);
  background:url(picture1.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel{
    width:75%;
    height: auto;
    margin: auto;
    background-color: purple;
    padding: 1cm;
    border-radius: 10px;
}

#breed-list{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 2cm;
}

#image-container{
    display: none;
}


/*
html{overflow:auto;}
body {
  background: rgb(57, 189, 241);
  color: #350707;
  height: auto;
  padding-bottom: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: Georgia, serif;
  font-weight: normal;
  padding-top: 20px;
  text-align: center;
}

h2 {
  padding-top: 20px;
  text-align: center;
}

p {
    color: #fff;
    text-decoration: none;
  }

p:hover {
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: underline;
  }

img {
    border-radius: 35px; 
    opacity: .6;
}
img:hover {
    border-radius: 100px;
    opacity: 1;
}
*/